<!DOCTYPE html>
<html lang="en" id="vm">
  <head>
    <script>
      var config = require('./config.js')
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard E - Reporting</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.css" />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="assets/css/ace-ie.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
  </head>

  <body class="no-skin">
    <div class="main-container" v-show="isMenu('dashboard')">
      <div class="main-content">
        <div class="main-content-inner">
          <div class="content-dashboard">
            <dashboard></dashboard>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container" id="main-container" v-if="isMenu('iframe')">

      <div id="navbar" class="navbar navbar-default">
        <div class="navbar-container" id="navbar-container">

          <div class="navbar-header pull-left">
            
            <a href="#" class="navbar-brand">
              <small>
                <i class="fa fa-leaf"></i>
                E - Reporting
              </small>
            </a>
          </div>

          <div class="navbar-header pull-right">
            <a href="javascript:void(0);" v-on:click="changeMenu('dashboard')" class="btn btn-info btn-sm" style="margin: 6px 0px;" v-if="isMenu('iframe')">Kembali</a>
            <a href="javascript:void(0);" onclick="quitApp()" class="btn btn-danger btn-sm" style="margin: 6px 0px;"><i class="fa fa-close"></i></a>
          </div>

        </div>
      </div>

      <menu-frame :prop="prop"></menu-frame>
    </div>

    <script type="text/javascript">
      var $ = require("jquery");
      var jQuery = $;
    </script>

    <script src="assets/js/bootstrap.js"></script>
    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
      <script src="assets/js/excanvas.js"></script>
    <![endif]-->
    
    <script src="assets/js/jquery-ui.custom.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.js"></script>
    <script src="assets/js/jquery.easypiechart.js"></script>
    <script src="assets/js/jquery.sparkline.js"></script>
    <script src="assets/js/flot/jquery.flot.js"></script>
    <script src="assets/js/flot/jquery.flot.pie.js"></script>
    <script src="assets/js/flot/jquery.flot.resize.js"></script>

    <!-- ace scripts -->
    
    <script src="assets/js/ace/elements.fileinput.js"></script>
    <script src="assets/js/ace/elements.typeahead.js"></script>
    <script src="assets/js/ace/elements.wysiwyg.js"></script>
    <script src="assets/js/ace/elements.spinner.js"></script>
    <script src="assets/js/ace/elements.treeview.js"></script>
    <script src="assets/js/ace/elements.wizard.js"></script>
    <script src="assets/js/ace/elements.aside.js"></script>
    <script src="assets/js/ace/ace.js"></script>
    <script src="assets/js/ace/ace.ajax-content.js"></script>
    <script src="assets/js/ace/ace.touch-drag.js"></script>
    <script src="assets/js/ace/ace.sidebar.js"></script>
    <script src="assets/js/ace/ace.sidebar-scroll-1.js"></script>
    <script src="assets/js/ace/ace.submenu-hover.js"></script>
    <script src="assets/js/ace/ace.widget-box.js"></script>
    <script src="assets/js/ace/ace.settings.js"></script>
    <script src="assets/js/ace/ace.settings-rtl.js"></script>
    <script src="assets/js/ace/ace.settings-skin.js"></script>
    <script src="assets/js/ace/ace.widget-on-reload.js"></script>
    <script src="assets/js/ace/ace.searchbox-autocomplete.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>

    <script>
    require('./renderer.js');
    var fs = require('fs');
    require.extensions['.html'] = function (module, filename) {
        module.exports = fs.readFileSync(filename, 'utf8');
    };

    function quitApp() {
      const remote = require('electron').remote;
      var window = remote.getCurrentWindow();
      window.close();
    }

    var Vue = require('vue');
    require('./component/dashboard/script.js');
    require('./component/iframe/script.js');

    var vm = require('./js/global.js')

    var socket = io.connect('http://128.199.109.135:8890');
    
    socket.on('pengaduan-baru', function (data) {
      var audio = new Audio('assets/sound/notif.mp3');
      audio.play();

      var result = $.parseJSON(data);
      
      vm.id_pengaduan.push(result.id);

      updateBadge(vm.id_pengaduan.length);
    });

    var badge = document.getElementById('badge');

    updateBadge(vm.id_pengaduan.length);

    var badgeNum;    
    function updateBadge(alertNum){
        var badgeChild = badge.children[0];
        if(badgeChild.className==='badge-num')
              badge.removeChild(badge.children[0]);
        
        badgeNum = document.createElement('div'); 
        badgeNum.setAttribute('class','badge-num');
        badgeNum.setAttribute('style','cursor: pointer;');
        badgeNum.innerText = alertNum;
        var insertedElement = badge.insertBefore(badgeNum,badge.firstChild); 
    }
    </script>
  </body>
</html>
