<div class="row">
    <div class="col-xs-12">
        <label class="logo-title">eReporting</label>
        <div class="pull-right">
            <a href="javascript:void(0);" onclick="quitApp()" class="btn btn-danger btn-sm" style="margin: 6px 0px;"><i class="fa fa-close"></i></a>
        </div>

        <div class="space-12"></div>
    </div>
    <div class="space-12"></div>

    <div class="col-xs-offset-1 col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <div class="notif-container" id="badge" v-on:click="showNotif()">
                            <a class="entypo-bell"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-6"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <a href="javascript:void(0);" v-on:click="frame('pengaduan/media')" class="tombol tombol-primary"><i class="fa fa-plus"></i> Tambah Pengaduan</a>

                    <a href="javascript:void(0);" v-on:click="frame('pengaduan/rekap')" class="tombol tombol-success"><i class="fa fa-pencil"></i> Rekap Pengaduan</a>

                    <a href="javascript:void(0);" v-on:click="frame('pengaduan/laporan')" class="tombol tombol-danger pull-right"><i class="fa fa-file"></i> Laporan Pengaduan</a>
                </div>
            </div>
        </div>
        <div class="space-6"></div>
        <br>

        <div class="space-6"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <div class="box box-green">
                        <div class="box-icon col-xs-3">
                            <img src="assets/icon/ic_file.png">
                        </div>
                        <div class="box-container col-xs-9">
                            <h4 v-on:click="frame('pengaduan/baru')">Pengaduan Baru</h4>
                            <h1 v-text="items.pengaduan_baru"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box box-blue">
                        <div class="box-icon col-xs-3">
                            <img src="assets/icon/ic_gear.png">
                        </div>
                        <div class="box-container col-xs-9">
                            <h4 v-on:click="frame('pengaduan/ditangani')">Pengaduan Ditangani</h4>
                            <h1 v-text="items.pengaduan_ditangani"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box box-purple">
                        <div class="box-icon col-xs-3">
                            <img src="assets/icon/ic_check.png">
                        </div>
                        <div class="box-container col-xs-9">
                            <h4 v-on:click="frame('pengaduan/selesai')">Pengaduan Selesai</h4>
                            <h1 v-text="items.pengaduan_selesai"></h1>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br>

                <div class="col-xs-4">
                    <div class="box box-red">
                        <div class="box-icon col-xs-3">
                            <img src="assets/icon/ic_phone.png">
                        </div>
                        <div class="box-container col-xs-9">
                            <h4 v-on:click="frame('pengaduan/list')">Pengaduan Call</h4>
                            <h1 v-text="items.pengaduan_call"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box box-orange">
                        <div class="box-icon col-xs-3">
                            <img src="assets/icon/ic_user.png">
                        </div>
                        <div class="box-container col-xs-9">
                            <h4 v-on:click="frame('pengaduan/media/list')">Pengaduan Online</h4>
                            <h1 v-text="items.pengaduan_online"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="box box-blue2">
                        <div class="box-icon col-xs-3">
                            <img src="assets/icon/ic_qrcode.png">
                        </div>
                        <div class="box-container col-xs-9">
                            <h4 v-on:click="frame('pengaduan/qrcode/list')">Pengaduan QR Code</h4>
                            <h1 v-text="items.pengaduan_qrcode"></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vspace-12-sm"></div>
    </div>
</div>