@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {font-family: 'entypo', sans-serif;font-size:10px;color:#555;}
.notif-container{
  position:relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  margin-right: 20px;
  margin-bottom: 30px;
}

.badge-num {
  box-sizing:border-box;
  font-family: 'Trebuchet MS', sans-serif;
  background: #ff0000;
  cursor:default;
  border-radius: 50%;
  color: #fff;
  font-weight:bold;
  font-size: 16px;
  height: 30px;
  letter-spacing:-1px;
  line-height:1.55em;
  top:-4px;
  right:-12px;
  border:3px solid #fff;
  position: absolute;
  text-align: center;
  width: 30px;
  box-shadow: 1px 1px 5px rgba(0,0,0, .2);
  animation: pulse 5s 3;
}
.badge-num:after {
  content: '';
  position: absolute;
  top:-2px;
  left:-2px;
  border:2px solid rgba(255,0,0,.5);
  opacity:0;
  border-radius: 50%;
  width:100%;
  height:100%;
  animation: sonar 1.5s 1;
}
@keyframes sonar { 
  0% {transform: scale(.9); opacity:1;}
  100% {transform: scale(2);opacity: 0;}
}
@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.4); } 
  50% {transform: scale(.9);} 
  80% {transform: scale(1.2);} 
  100% {transform: scale(1);}
}

.logo-title {
  color: #3498db;
  font-size: 24px;
  margin-left: 60px;
}

.content-dashboard {
  position: relative;
  margin: 0;
  padding: 8px 20px 24px;
}

.box {
  height: 120px;
  box-shadow: 0 4px 8px 0 rgba(146, 147, 148, 0.2), 0 6px 20px 0 rgba(185, 187, 190, 0.19);
}

.box img {
  margin-top: 35px;
  width: 50px;
  margin-left: 7px;
}

.box-container {
  background-color: #fff;
  height: 100%;
  text-align: center;
}

.box-container h4 {
  cursor: pointer;
}

.box .box-container h1 {
  font-weight: 100;
}

.box-green {
  background: #2ecc71;
}

.box-green .box-container h4 {
  margin-top: 20px;
  color: #2ecc71;
}

.box-blue {
  background: #3498db;
}

.box-blue .box-container h4 {
  margin-top: 20px;
  color: #3498db;
}

.box-purple {
  background: #9b59b6;
}

.box-purple .box-container h4 {
  margin-top: 20px;
  color: #9b59b6;
}

.box-red {
  background: #e74c3c;
}

.box-red .box-container h4 {
  margin-top: 20px;
  color: #e74c3c;
}

.box-orange {
  background: #e67e22;
}

.box-orange .box-container h4 {
  margin-top: 20px;
  color: #e67e22;
}

.box-blue2 {
  background: #2980b9;
}

.box-blue2 .box-container h4 {
  margin-top: 20px;
  color: #2980b9;
}

.tombol {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tombol:hover {
  color: #fff;
  text-decoration: none;
}

.tombol-primary {
  color: #ffffff;
  background-color: #2980b9;
  border-color: #2e6da4;
}

.tombol-success {
  color: #ffffff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.tombol-danger {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}